@model KXAuthentication.Models.Home.HomeViewModel
<section class="container py-5">
    <div class="row">
        <div class="col-12">
            <editable-area area-identifier="homeArea" />
        </div>
    </div>
</section>