@{
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
    ViewBag.Title = "Waiting for approval";
}
<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Your account is pending administrator approval. </h1>
            <p>You will not be able to sign in until your account is activated.</p>
        </div>
    </div>
</section>