@model KXAuthentication.Models.Page.PageViewModel
<section class="container py-5">
    <div class="row">
        <div class="col-12">
            <editable-area area-identifier="pageArea" />
        </div>
    </div>
</section>
